*{
    box-sizing: border-box;
}
body{
    background-color: #b2f0e8;
    height: 800px;
}
form{
    width: 600px;
    margin: auto;
    background-color: #2fc4b2;
    color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 50px;
    margin-top: 60px;
}
h2{
    width: 200px;
    height: 70px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: #8de5db;
    box-shadow: 2px 2px 10px  0px #289c8e;
}
p{
    font-size: x-large;
    font-weight: bold;
}
input[type=checkbox]+label{
    display: block;
    margin: 15px;
    font-size: larger;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]+label::before{
    content: "\f00c";
    font-family: FontAwesome;
    border: 2px solid #b2f0e8 ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    width: lem;
    height: lem;
    padding: 2px;
    margin-right: 7px;
    color: transparent;
}
input[type=checkbox]:checked+label::before{
    background-color: #b2f0e8;
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
button{
    background-color: #117c6f;
    color: white;
    height: 50px;
    font-size: large;
    border: none;
    border: 1px solid #8de5db;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
button:hover{
    background-color: #8de5db;
    box-shadow: 1px 1.5px 1px 1.5px #117c6f;
}
button:active{
    transform: translatey(3px);
    -webkit-transform: translatey(3px);
    -moz-transform: translatey(3px);
    -ms-transform: translatey(3px);
    -o-transform: translatey(3px);
}