@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'poppins';
  background: url(img.jpg);
  background-size: cover;
  color: #fff;
  line-height: 1.8;
}

#container{
  margin: 80px auto;
  max-width: 430px;
  padding: 20px;
}

.form-wrap{
  background-color: #fff;
  padding: 15px 25px;
  color: #333;
  border-top: 4px solid #8de5db;
  border-bottom: 4px solid #8de5db;
  border-radius: 05px;
}
.form-wrap h1{
    width: auto;
    height: 50px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    background-color: #8de5db;
    box-shadow: 2px 2px 10px  0px #8de5db;
}
.form-wrap h1,
.form-wrap p{
  text-align: center;
}

.form-wrap .form-group{
  margin-top: 15px;
}

.form-wrap .form-group label{
  display: block;
  color: #666;
}

.form-wrap .form-group input{
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}
button{
  background-color: #117c6f;
  color: white;
  height: 40px;
  width: 150px;
  margin-top: 15px;
  font-size: medium;
  border: none;
  border: 1px solid #8de5db;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
button:hover{
  background-color: #8de5db;
  box-shadow: 1px 1.5px 1px 1.5px #117c6f;
}
button:active{
  transform: translatey(3px);
  -webkit-transform: translatey(3px);
  -moz-transform: translatey(3px);
  -ms-transform: translatey(3px);
  -o-transform: translatey(3px);
}
